build*
.vs
scripts
src/src
backend_run.log
api_*
build_*
build*
infra*
infra_*
msbuild.*
run_*

src/KuaforSepeti.API/bin
src/KuaforSepeti.API/obj
src/KuaforSepeti.API/log.*

src/KuaforSepeti.Application/bin
src/KuaforSepeti.Application/obj
src/KuaforSepeti.Application/log.*

src/KuaforSepeti.Domain/log.*
src/KuaforSepeti.Domain/obj
src/KuaforSepeti.Domain/bin


src/KuaforSepeti.Infrastructure/bin
src/KuaforSepeti.Infrastructure/obj
src/KuaforSepeti.Infrastructure/build_*
src/KuaforSepeti.Infrastructure/log.*