build*
.vs
scripts
src/src
backend_run.log
api_*
build_*
build*
infra*
infra_*
msbuild.*
run_*

src/BakimZamani.API/bin
src/BakimZamani.API/obj
src/BakimZamani.API/log.*

src/BakimZamani.Application/bin
src/BakimZamani.Application/obj
src/BakimZamani.Application/log.*

src/BakimZamani.Domain/log.*
src/BakimZamani.Domain/obj
src/BakimZamani.Domain/bin


src/BakimZamani.Infrastructure/bin
src/BakimZamani.Infrastructure/obj
src/BakimZamani.Infrastructure/build_*
src/BakimZamani.Infrastructure/log.*